<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- jQuery 3 -->
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- Bootstrap 3.3.7 -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!--    &lt;!&ndash; Morris.js charts &ndash;&gt;-->
    <!--    <script src="bower_components/raphael/raphael.min.js"></script>-->
    <!--    <script src="bower_components/morris.js/morris.min.js"></script>-->


    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <!-- Sparkline -->
    <script src="/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="/bower_components/jquery-knob/dist/jquery.knob.min.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="/bower_components/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="/bower_components/fastclick/lib/fastclick.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js" type="text/javascript"></script>

    <!-- Select2 -->
    <script src="/bower_components/select2/dist/js/select2.full.min.js" type="text/javascript"></script>

    <!-- Jquery Toast -->
    <script src="/plugins/jquery-toats/js/jquery.toast.js" type="text/javascript"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js" type="text/javascript"></script>

    <script src="/plugins/sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="/plugins/devexpress/js/dx.all.js" type="text/javascript"></script>
<!--    <script type="text/javascript"  src="/js/global.js?t=Date.Now()"></script>-->
    <script>document.write("<script type='text/javascript' src='/js/global.js?v=" + Date.now() + "'><\/script>");</script>
</div>