<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="sidebar">

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/dist/img/avatar2.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <b>Mochammad Dicky Adriansyah</b>
                    <br/>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">DANAFIX MENU</li>
                <li><a th:href="@{'/dashboard'}"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>

                <li><a th:href="@{'/member'}"><i class="fa fa-circle-o"></i>Member</a></li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

</div>